<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head-forms}"></th:block>

<body id="add-image">
<th:block th:include="~{fragments/nav}"></th:block>
<main class="p-5 bg-blur text-center my-main">

    <div id="container">
        <h1 id="income-heading">Add Expense</h1>
        <div id="add-expenses">
            <div class="d-flex justify-content-center">
                <form th:action="@{/expenses/add}" method="POST" th:object="${expenseBindingModel}"
                      class="text-light">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1"></label>
                        <select name="category" class="form-control" id="exampleFormControlSelect1">
                            <option value="">Select Category</option>
                            <option
                                    th:each="c: ${categories}"
                                    th:value="${c}"
                                    th:text="${c}"
                                    th:selected="${c} == *{category}"
                            >
                        </select>
                        <small th:if="${#fields.hasErrors('category')}" th:errors = "*{category}" class = "text-danger"></small>
                    </div>
                    <label for="price"></label>
                    <input th:field = "*{amount}"  required min="0" th:errorclass = "bg-danger" name="amount" id="price" type="number" class="form-control" placeholder="Amount">
                    <small th:if="${#fields.hasErrors('amount')}" th:errors = "*{amount}"> id="priceError" class="form-text bg-danger rounded">Price must be positive</small>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"></label>
                        <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description"></textarea>
                    </div>

                    <button id="add-expence-btn" class="btn" value="ADD" type="submit"><i class="fa fa-edit"></i></button>
                </form>
            </div>
        </div>
    </div>

</main>
<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>