<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head-forms}"></th:block>
<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="main" style="padding-left: 60px; padding-top: 70px;">
    <section class="sign-in">
            <div style="display:inline-block; width:50%;text-align:center;">
                <h5 style="display: flex">New Quote</h5>
            <form th:method="POST" th:action="@{quotes/add}" th:object="${quoteBindingModel}" style="width: 50%; margin-top: 25px">
                <input th:field = "*{author}" th:errorclass = "bg-warning" type="text" class="form-control"  placeholder="Author Name" style="border-color: lightpink">
                <small th:if="${#fields.hasErrors('author')}" th:errors = "*{author}"></small>
                <br>
                <textarea th:field = "*{text}"  th:errorclass = "bg-warning" placeholder="Quote text" class="form-control"  >
                    <small th:if="${#fields.hasErrors('text')}" th:errors = "*{text}"></small>
                    <h5 th:if="${success}" th:text="Successfully added quote"></h5>
                </textarea>
                <button  type="submit"  class="btn btn-primary btn-sm btn btn-outline-light" style="background-color: beige">Add Quote</button>
            </form>
            </div>
            <div style="display:inline-block; width:45%;text-align:center;">
                <h5 style="display: flex">New Topic</h5>
                <form th:method="POST" th:action="@{topics/add}" th:object="${topicBindingModel}"
                      enctype="multipart/form-data" style="width: 50%; margin-top: 25px">
                        <input type="file" class="form-control-file" id="add-title-image" name="img" required="required">
                    <br>
                    <textarea th:field = "${topicBindingModel.title}"  th:errorclass = "bg-warning" placeholder="Topic header" class="form-control"  >
                        <small th:if="${#fields.hasErrors('title')}" th:errors = "${topicBindingModel.title}"></small>

                </textarea>
                    <button  type="submit"  class="btn btn-primary btn-sm btn btn-outline-light" style="background-color: beige">Add Topic</button>
                </form>
            </div>
    </section>
</div>

</body>
</html>