<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head-forms}"></th:block>


<body>
<th:block th:include="~{fragments/nav}"></th:block>
<div class="main-div">
    <form th:action="@{/tasks/add}">
    <button class="btn btn-primary btn-sm btn btn-outline-light" id="add" >Add task</button>
    </form>
    <div th:if="${noTaskFound}">
        <h3 id="task-empty" >There are no tasks to be shown.</h3>
    </div>
    <ul class="sticky-top-ul" th:object="${tasks}">
    <li th:each="t: ${tasks}" class="sticky-top">
        <a href="#">
            <h2 class="sticky-title" th:text="${t.category}">Title #1</h2>
            <p class="sticky-notes" th:text="${t.name}">Text Content #1</p>
            <p class="sticky-date" th:text="|due: ${t.dueOn}|">due: 22.05.2012</p>
            <span>
            <form th:action= "@{/tasks/delete/{taskId}(taskId=${t.id})}"
                  th:method="DELETE" class="sticky-form-button">
            <input  class="btn btn-primary-sm btn btn-outline-light" type="submit" value="Done"></input>
                </form>
                <form th:action= "@{/tasks/edit/{taskId}(taskId=${t.id})}"
                      th:method="GET" class="sticky-form-button">
                    <input  class="btn btn-primary-sm btn btn-outline-light" type="submit" value="Edit"></input>
            </form>
                </span>

        </a>

    </li>
    </ul>
</div>
</body>

<th:block th:include="~{fragments/footer}"></th:block>
</html>