<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head-errors}"></th:block>

<body>
<div>
    <button class="btn btn-light btn-sm" onclick="window.location.href='/home'">Home</button>
</div>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 306.8 404.9" style="enable-background:new 0 0 306.8 404.9;" xml:space="preserve">



<th:block th:include="~{fragments/error-body}"></th:block>

        <text opacity="0.6" x="15" y="257" fill="#000" font-family="Viga" font-size="25">There is no way Immma
      <tspan x="35" y="292" >let you pass through!</tspan>
            <tspan x="100" y="357" fill="#000" font-size="65">403</tspan>
            <tspan x="93" y="381.2" fill="#000" font-size="15">Access Forbidden.</tspan>
    </text>

        <text x="15" y="255" fill="#6BA184" font-family="Viga" font-size="25">There is no way Immma
      <tspan x="35" y="290" >let you pass through!</tspan>
            <tspan x="100" y="355" fill="#BF3E73" font-size="65">403</tspan>
            <tspan x="93" y="380" fill="#6BA184" font-size="15">Access Forbidden.</tspan>
    </text>
  </g>
    </g>
    </g>

</svg>


</body>
</html>