<!DOCTYPE html>
<html style="font-size: 16px;">
<th:block th:include="~{fragments/head}"></th:block>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light"> <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="#">Daily Tasks <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Monthly Goals</a> </li>
            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Finance </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a> </div>
            </li>
            <li class="nav-item"> <a class="nav-link disabled" href="#">My Travel Plans</a> </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button type="button" class="btn btn-light">Login In</button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-light">Sign Up</button>        </form>
    </div>
</nav>

<section  class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_d291" data-image-width="1600" data-image-height="1067">
    <div class="-clearfix u-sheet u-valign-middle u-sheet-1">

        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="22.7%">
                    <col width="26%">
                    <col width="25.2%">
                    <col width="26.1%">
                </colgroup>
                <thead class="u-align-center u-palette-2-dark-1 u-table-header u-table-header-1" style="background-color: #f7de75 ">
                <tr style="height: 25px;">
                    <th class="u-align-left u-border-2 u-border-palette-2-base u-table-cell u-table-cell-1">Compare all plans </th>
                    <th class="u-border-2 u-border-palette-2-base u-table-cell"><b>Starter</b>
                    </th>
                    <th class="u-border-2 u-border-palette-2-base u-table-cell"><b>Advance</b>
                    </th>
                    <th class="u-border-2 u-border-palette-2-base u-table-cell"><b>Enterprise</b>
                        <br>
                    </th>
                </tr>
                </thead>
                <tbody class="u-align-center u-table-body u-white u-table-body-1">
                <tr style="height: 49px;">
                    <td class="u-align-left u-border-2 u-border-white u-first-column u-table-cell">1st Month Management Cost</td>
                    <td class="u-border-2 u-border-white u-table-cell">$ 400</td>
                    <td class="u-border-2 u-border-white u-table-cell">$ 900</td>
                    <td class="u-border-2 u-border-white u-table-cell">$ 1200</td>
                </tr>
                <tr style="height: 48px;">
                    <td class="u-align-left u-border-2 u-border-white u-table-cell">Following Month</td>
                    <td class="u-border-2 u-border-white u-table-cell u-text-palette-3-base u-table-cell-10">$ 300</td>
                    <td class="u-border-2 u-border-white u-table-cell u-text-palette-2-base u-table-cell-11">$ 700</td>
                    <td class="u-border-2 u-border-white u-table-cell u-text-palette-1-base u-table-cell-12">$ 900</td>
                </tr>
                <tr style="height: 48px;">
                    <td class="u-align-left u-border-2 u-border-white u-first-column u-table-cell">Delivery Time frame</td>
                    <td class="u-border-2 u-border-white u-table-cell">3-6 Months</td>
                    <td class="u-border-2 u-border-white u-table-cell">3-6 Months</td>
                    <td class="u-border-2 u-border-white u-table-cell">3-6 Months</td>
                </tr>
                <tr style="height: 65px;">
                    <td class="u-align-left u-border-2 u-border-white u-first-column u-table-cell">Support 24/7</td>
                    <td class="u-border-2 u-border-white u-table-cell u-table-cell-18">-</td>
                    <td class="u-border-2 u-border-white u-table-cell u-table-cell-19">&nbsp;<span class="u-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 367.805 367.805" x="0px" y="0px" id="svg-52ed" style="width: 1em; height: 1em;"><g><path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902   S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"></path><polygon style="fill:#D4E1F4;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801    256.001,103.968  "></polygon>
</g></svg><img></span>&nbsp;
                    </td>
                    <td class="u-border-2 u-border-white u-table-cell u-text-palette-1-base u-table-cell-20"><span class="u-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 367.805 367.805" x="0px" y="0px" id="svg-4b6d" style="width: 1em; height: 1em;"><g><path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902   S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"></path><polygon style="fill:#D4E1F4;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801    256.001,103.968  "></polygon>
</g></svg><img></span>
                    </td>
                </tr>
                <tr style="height: 65px;">
                    <td class="u-align-left u-border-2 u-border-white u-table-cell">Certificate</td>
                    <td class="u-border-2 u-border-white u-table-cell u-table-cell-22">-</td>
                    <td class="u-border-2 u-border-white u-table-cell u-table-cell-23">&nbsp;<span class="u-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 367.805 367.805" x="0px" y="0px" id="svg-a01e" style="width: 1em; height: 1em;"><g><path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902   S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"></path><polygon style="fill:#D4E1F4;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801    256.001,103.968  "></polygon>
</g></svg><img></span>&nbsp;
                    </td>
                    <td class="u-border-2 u-border-white u-table-cell u-text-palette-1-base u-table-cell-24">&nbsp;<span class="u-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 367.805 367.805" x="0px" y="0px" id="svg-3f2c" style="width: 1em; height: 1em;"><g><path style="fill:#3BB54A;" d="M183.903,0.001c101.566,0,183.902,82.336,183.902,183.902s-82.336,183.902-183.902,183.902   S0.001,285.469,0.001,183.903l0,0C-0.288,82.625,81.579,0.29,182.856,0.001C183.205,0,183.554,0,183.903,0.001z"></path><polygon style="fill:#D4E1F4;" points="285.78,133.225 155.168,263.837 82.025,191.217 111.805,161.96 155.168,204.801    256.001,103.968  "></polygon>
</g></svg><img></span>&nbsp;
                    </td>
                </tr>
                <tr style="height: 73px;">
                    <td class="u-align-left u-border-2 u-border-white u-first-column u-table-cell">Guranteed Keywords Ranking in First Page of Google</td>
                    <td class="u-border-2 u-border-white u-table-cell">18</td>
                    <td class="u-border-2 u-border-white u-table-cell">20</td>
                    <td class="u-border-2 u-border-white u-table-cell">28</td>
                </tr>
                <tr style="height: 73px;">
                    <td class="u-align-left u-border-2 u-border-white u-table-cell"></td>
                    <td class="u-border-2 u-border-white u-table-cell">
                        <a href="#" class="u-btn u-btn-round u-button-style u-palette-3-base u-radius-50 u-btn-1">buy now</a>
                    </td>
                    <td class="u-border-2 u-border-white u-table-cell">
                        <a href="https://nicepage.com/css-templates" class="u-btn u-btn-round u-button-style u-palette-3-base u-radius-50 u-btn-2">buy now</a>
                    </td>
                    <td class="u-border-2 u-border-white u-table-cell">
                        <a href="#" class="u-btn u-btn-round u-button-style u-palette-3-base u-radius-50 u-btn-3">buy now</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-16fb">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>

</body>
</html>