<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head-forms}"></th:block>


	<body>
	<th:block th:include="~{fragments/nav}"></th:block>

			<header id="header" class="alt">
				<blockquote>&nbsp;</blockquote>
				<div class="inner">
					<h1>My Journal</h1>
					<p   sec:authorize="!isAuthenticated()">Start the journey of journaling <a href="/users/register">TODAY</a></p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-diamond major"></span>
						<h2>Your daily quote</h2>
						<br>
						<h6   style="font-family: Proxima Nova" th:text="|'${quoteViewModel.text} - ${quoteViewModel.author}'|" ></h6>
						
					</section>


					
				<!-- Footer -->
				<th:block th:include="~{fragments/footer}"></th:block>


			</div>



	</body>
</html>