<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragments/head}"></th:block>


<body>
<th:block th:include="~{fragments/nav}"></th:block>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form th:action="@{/users/register}" method="POST" th:object="${userRegisterBindingModel}">                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input  th:field = "*{username}" th:errorclass = "bg-danger" type="text" name="username" id="name" placeholder="Username"/>
                            <small th:if="${#fields.hasErrors('username')}" th:errors = "*{username}"></small>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input th:field = "*{email}" th:errorclass = "bg-danger" type="email" name="email" id="email" placeholder="Your Email"/>
                                <small th:if="${#fields.hasErrors('email')}" th:errors = "*{email}"></small>
                                <small th:if="${userExistsError}" id="usernameUniqueError"
                                       class="text-light form-text bg-danger rounded">User with this email is already registered</small>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input th:field = "*{password}" th:errorclass = "bg-danger" type="password" name="password" id="pass" placeholder="Password"/>
                                <small th:if="${#fields.hasErrors('password')}" th:errors = "*{password}"></small>
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input th:field = "*{confirmedPassword}" th:errorclass = "bg-danger" type="password" name="confirmedPassword" id="re_pass" placeholder="Repeat your password"/>
                                <small th:if="${#fields.hasErrors('confirmedPassword')}" th:errors = "*{confirmedPassword}"></small>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>

                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/colorlib-regform-7/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
                        <a th:href="@{/users/login}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>



    </div>
<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>