<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:include="~{fragments/head-forms}"></th:block>

<body>
<th:block th:include="~{fragments/nav}"></th:block>
<body>

<div>
    <h1 th:text="${topic.title}" id="heading-comments"></h1>
</div>

<div class="mb-3" style="padding-top: 20px; width: 40%; margin-left: 400px; height: 40%; position: relative" >
    <form th:action="@{/topics/comments/{id}(id=${topic.id})}" method="POST">
    <textarea name="text" type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="Add Comment...">
    </textarea>

            <button class="btn btn-light btn-sm" type="submit"
                    style="margin-left: 250px;margin-top: 5px;">Add</button>
    </form>
</div>

<div class="row" style="padding: 20px">
    <div class="col-sm-6" th:each="c: ${comments}"
         style="padding-bottom: 10px;
                padding-left: 40px;
                padding-right: 40px;">
        <div class="card">
            <div style="border-color: #259bca; background-color: whitesmoke" >

                <h5 class="card-title" th:text="${c.username}">Special title treatment</h5>
                <p class="card-text-success" th:text="${c.text}">With supporting text below as a natural lead-in to additional content.</p>
                <form th:action= "@{/topics/comments/{id}/delete/{commentid}(id=${topic.id},commentid=${c.id})}"
                      th:method="DELETE"
                      style="display: initial;padding-left: 240px;">
                    <input th:if="${hasRoleAdmin} or ${c.email}==${namePrincipal}"  type="submit" value="Delete" class="btn btn-secondary btn-sm"
                           style="background-color: #8db8e0; margin-left: 200px;"/>
                </form>
            </div>
        </div>
    </div>
</div>
<th:block th:include="~{fragments/footer}"></th:block>

</body>
