<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head-forms}"></th:block>

<body>
<th:block th:include="~{fragments/nav}"></th:block>

<div th:if="${emptyBalance}">
    <h3 id="balance-empty" >Please add data. The balance is empty</h3>
    <span>
            <form th:action= "@{/expenses/add}"
                  class="add-expense-empty-balance">
            <input  class="btn btn-primary-sm btn btn-outline-light" type="submit" value="Add Expense"></input>
                </form>
                <form th:action= "@{/income/add}"
                      class="add-expense-empty-balance">
                    <input  class="btn btn-primary-sm btn btn-outline-light" type="submit" value="Add Income"></input>
            </form>
                </span>
</div>
<div id="wrap-donuts">
    <div id="donutchart" style="width: 700px; height: 500px; float:left; margin: 10px"></div>
    <div  id="donutchart3" style="width: 700px; height: 500px; margin: 10px">
    </div>
    <div id="donutchart2" style="width: 700px; height: 500px; float:left; margin: 10px"></div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    // First chart - expenses
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        let rent = [[${budgetServiceModel['RENT']}]];
        let drinks = [[${budgetServiceModel['DRINKS']}]];
        let loan = [[${budgetServiceModel['LOAN']}]];
        let groceries = [[${budgetServiceModel['GROCERIES']}]];
        let health = [[${budgetServiceModel['HEALTH']}]];
        let other = [[${budgetServiceModel['OTHER']}]];
        let mortgage = [[${budgetServiceModel['MORTGAGE']}]];
        let presents = [[${budgetServiceModel['PRESENTS']}]];
        let transport = [[${budgetServiceModel['TRANSPORT']}]];
        let toiletries = [[${budgetServiceModel['TOILETRIES']}]];
        let entertainment = [[${budgetServiceModel['ENTERTAINMENT']}]];
        let clothes = [[${budgetServiceModel['CLOTHES']}]];
        let bills = [[${budgetServiceModel['BILLS']}]];
        let empty = [[${budgetServiceModel['NO DATA']}]];


        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Rent', rent],
            ['Drinks', drinks],
            ['Loan', loan],
            ['Groceries', groceries],
            ['Health', health],
            ['Other', other],
            ['Mortgage', mortgage],
            ['Presents', presents],
            ['Transport', transport],
            ['Toiletries', toiletries],
            ['Entertainment', entertainment],
            ['Clothes', clothes],
            ['Bills', bills],
            ['No data', empty]
        ]);

        var options = {
            title: 'My Expenses',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);

    }

    // secondChart - income
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart2);
    function drawChart2() {
        let salary = [[${incomeCategories['SALARY']}]];
        let deposit = [[${incomeCategories['DEPOSIT']}]];
        let investment = [[${incomeCategories['INVESTMENT']}]];
        let other = [[${incomeCategories['OTHER']}]];
        let empty = [[${incomeCategories['NO DATA']}]];

        // if there is no data just set it to 100 by default

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Salary', salary],
            ['Deposit', deposit],
            ['Investment', investment],
            ['Other', other],
            ['No Data', empty]
        ]);

        var options = {
            title: 'My Income',
            pieHole: 0.4,
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
        chart.draw(data, options);
    }

    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart3);
    function drawChart3() {
        let income = [[${income}]];
        let expense = [[${expense}]];

        var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['Income', income],
            ['Expenses', expense],


        ]);

        var options = {
            title: 'My Balance: ' +  [[${balance}]],
            pieHole: 0.4
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart3'));
        chart.draw(data, options);
    }
</script>
<!-- scripts -->




</body>
</html>