<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head-forms}"></th:block>
<body>
<th:block th:include="~{fragments/nav}"></th:block>

<div class="card-columns" style="padding: 80px">
    <div th:each=" t: ${topics}" class="card" style="width: 18rem;" >
        <a th:href="@{/topics/comments/{id}(id=${t.id})}">
        <img th:src="${t.imageUrl}"   class="card-img-top" alt="..." >
        <div class="card-body">
            <p th:text="${t.title}" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

        </div>
        </a>
    </div>
</div>

<th:block th:include="~{fragments/footer}"></th:block>
</body>
</html>